<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lckj.security.menu.mapper.MenuMapper">	  
	<select id="count" parameterType="map" resultType="int">
		SELECT count(1) FROM PUB_MENU 
		<if test="condition.expressions != null ">
			<where>${condition.comboedExpressions}</where>
		</if>		
	</select>
	  
	<select id="list" parameterType="map" resultType="com.lckj.security.menu.model.MenuVO">
		SELECT * FROM PUB_MENU 
		<if test="condition.expressions != null ">
			<where>${condition.comboedExpressions}</where>
		</if>		
		<if test="condition.orderBy != null">
			${condition.orderBy}
		</if>  
	</select>
	
	<insert id="insert" parameterType="com.lckj.security.menu.model.MenuVO" >
		INSERT INTO PUB_MENU (
				PARENT_MENU_ID,
				MENU_NAME,
				MENU_URL,
				MENU_ICON,
				DISABLE_ICON,
				STATUS,
				MENU_SORT,
				DESCRIPTION
		)VALUES(
				#{parentMenuId,jdbcType=INTEGER},
				#{menuName,jdbcType=VARCHAR},
				#{menuUrl,jdbcType=VARCHAR},
				#{menuIcon,jdbcType=VARCHAR},
				#{disableIcon,jdbcType=VARCHAR},
				#{status,jdbcType=INTEGER},
				#{menuSort,jdbcType=INTEGER},
				#{description,jdbcType=VARCHAR}
		)
	</insert>
			
	<select id="read" parameterType="map" resultType="com.lckj.security.menu.model.MenuVO">
		SELECT * FROM PUB_MENU WHERE MENU_ID = #{id[0]}
	</select>

	<insert id="insertPartitive" parameterType="map">
		INSERT INTO PUB_MENU (${fields._insertFields}) values (${fields._insertValues})
	</insert>
	  
	<update id="update" parameterType="com.lckj.security.menu.model.MenuVO">
		UPDATE PUB_MENU SET 
				PARENT_MENU_ID = #{parentMenuId,jdbcType=INTEGER},
				MENU_NAME = #{menuName,jdbcType=VARCHAR},
				MENU_URL = #{menuUrl,jdbcType=VARCHAR},
				MENU_ICON = #{menuIcon,jdbcType=VARCHAR},
				DISABLE_ICON = #{disableIcon,jdbcType=VARCHAR},
				STATUS = #{status,jdbcType=INTEGER},
				MENU_SORT = #{menuSort,jdbcType=INTEGER},
				DESCRIPTION = #{description,jdbcType=VARCHAR}
				WHERE MENU_ID = #{menuId}
	</update>

	<update id="updatePartitive" parameterType="map" >
		UPDATE PUB_MENU SET ${fields._updateSql} WHERE MENU_ID = #{id[0]}
	</update>
	  
	<update id="updateBatch" parameterType="map" >
		UPDATE PUB_MENU SET  ${fields._updateSql}
		<if test="condition.expressions != null ">
			<where> ${condition.comboedExpressions} </where>
		</if>		
	</update>
		  
	<delete id="delete" parameterType="map" >
		DELETE FROM PUB_MENU WHERE MENU_ID = #{id[0]}
	</delete>

	<delete id="deleteBatch" parameterType="map" >
		DELETE FROM PUB_MENU 
		<if test="condition.expressions != null ">
			<where>${condition.comboedExpressions}</where>
		</if>		
	</delete>
	
	<!-- 根据用户查询有权限的菜单 -->
	<select id="queryMenuByUser" parameterType="map" resultType="com.lckj.security.menu.model.MenuVO">
		SELECT DISTINCT C.* FROM PUB_USER_R_ROLE A, PUB_ROLE_R_MENU B, PUB_MENU C
	     WHERE A.ROLE_ID = B.ROLE_ID
	       AND B.MENU_ID = C.MENU_ID
	       AND USER_ID = #{userId}  
	       AND C.STATUS = 1
       ORDER BY C.MENU_SORT
	</select>
	
	<!-- roleRmenu -->		
	<select id="queryMenuByRole" parameterType="map" resultType="com.lckj.security.menu.model.MenuVO">
		SELECT PUB_MENU.* FROM PUB_MENU, PUB_ROLE_R_MENU
	       WHERE PUB_MENU.MENU_ID = PUB_ROLE_R_MENU.MENU_ID
		<if test="condition.expressions != null ">
			${condition.comboedExpressions}
		</if>		
	</select>
</mapper>