<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lckj.security.organization.mapper.OrganizationMapper">	  
	<select id="count" parameterType="map" resultType="int">
		SELECT count(1) FROM PUB_ORGANIZATION 
		<if test="condition.expressions != null ">
			<where>${condition.comboedExpressions}</where>
		</if>		
	</select>
	
	<select id="list" parameterType="map" resultType="com.lckj.security.organization.model.OrganizationVO">
		SELECT * FROM PUB_ORGANIZATION 
		<if test="condition.expressions != null ">
			<where>${condition.comboedExpressions}</where>
		</if>		
		<if test="condition.orderBy != null">
			${condition.orderBy}
		</if>  
	</select>
	  
	<select id="userTreeList" parameterType="map" resultType="com.lckj.security.organization.model.OrganizationVO">
		select *
			  from (select *
			          from (SELECT t.id,
							t.parent_id,
							t.name,
							IF(leaf_mark=2, leaf_mark, IF((SELECT COUNT(1) FROM pub_user s WHERE s.dept_id = t.id)=0, 1, 2)) leaf_mark,
							t.status,
							t.sort_no,
							1 user_type,
							t.mobilephone
							FROM pub_organization t) t
			         where t.leaf_mark = 2
			        union all
			        select s.user_id     id,
			               s.dept_id     parent_id,
			               s.user_name   name,
			               1             leaf_mark,
			               s.status,
			               s.user_sort   sort_no,
			               2             user_type,
			               s.mobilephone
			          from pub_user s where s.STATUS = 1) t
		<if test="condition.expressions != null ">
			<where>${condition.comboedExpressions}</where>
		</if>		
		<if test="condition.orderBy != null">
			${condition.orderBy}
		</if>  
	</select>
	
	<insert id="insert" parameterType="com.lckj.security.organization.model.OrganizationVO" >
		INSERT INTO PUB_ORGANIZATION (
				PARENT_ID,
				NAME,
				SHORT_NAME,
				CODE,
				TYPE,
				LEAF_MARK,
				SORT_NO,
				TELEPHONE,
				MOBILEPHONE,
				EMAIL,
				ADDRESS,
				POST_CODE,
				MANAGER_ID,
				MANAGER_NAME,
				STATUS,
				REMARK
		)VALUES(
				#{parentId,jdbcType=INTEGER},
				#{name,jdbcType=VARCHAR},
				#{shortName,jdbcType=VARCHAR},
				#{code,jdbcType=VARCHAR},
				#{type,jdbcType=INTEGER},
				#{leafMark,jdbcType=INTEGER},
				#{sortNo,jdbcType=INTEGER},
				#{telephone,jdbcType=VARCHAR},
				#{mobilephone,jdbcType=VARCHAR},
				#{email,jdbcType=VARCHAR},
				#{address,jdbcType=VARCHAR},
				#{postCode,jdbcType=VARCHAR},
				#{managerId,jdbcType=INTEGER},
				#{managerName,jdbcType=VARCHAR},
				#{status,jdbcType=INTEGER},
				#{remark,jdbcType=VARCHAR}
		)
	</insert>
	
	<insert id="insertBatch" parameterType="java.util.List">
		INSERT INTO PUB_ORGANIZATION (
				PARENT_ID,
				NAME,
				SHORT_NAME,
				CODE,
				TYPE,
				LEAF_MARK,
				SORT_NO,
				LINK_MAN,
				TELEPHONE,
				MOBILEPHONE,
				EMAIL,
				ADDRESS,
				POST_CODE,
				MANAGER_ID,
				MANAGER_NAME,
				STATUS,
				REMARK
		) values
		<foreach collection="list" item="item" index="index" separator=",">
		(
				#{item.parentId,jdbcType=INTEGER},
				#{item.name,jdbcType=VARCHAR},
				#{item.shortName,jdbcType=VARCHAR},
				#{item.code,jdbcType=VARCHAR},
				#{item.type,jdbcType=INTEGER},
				#{item.leafMark,jdbcType=INTEGER},
				#{item.sortNo,jdbcType=INTEGER},
				#{item.telephone,jdbcType=VARCHAR},
				#{item.mobilephone,jdbcType=VARCHAR},
				#{item.email,jdbcType=VARCHAR},
				#{item.address,jdbcType=VARCHAR},
				#{item.postCode,jdbcType=VARCHAR},
				#{item.managerId,jdbcType=INTEGER},
				#{item.managerName,jdbcType=VARCHAR},
				#{item.status,jdbcType=INTEGER},
				#{item.remark,jdbcType=VARCHAR}
		)
		</foreach>
	</insert>
			
	<select id="read" parameterType="map" resultType="com.lckj.security.organization.model.OrganizationVO">
		SELECT * FROM PUB_ORGANIZATION WHERE ID = #{id[0]}
	</select>

	<insert id="insertPartitive" parameterType="map">
		INSERT INTO PUB_ORGANIZATION (${fields._insertFields}) values (${fields._insertValues})
	</insert>
	  
	<update id="update" parameterType="com.lckj.security.organization.model.OrganizationVO">
		UPDATE PUB_ORGANIZATION SET 
				PARENT_ID = #{parentId,jdbcType=INTEGER},
				NAME = #{name,jdbcType=VARCHAR},
				SHORT_NAME = #{shortName,jdbcType=VARCHAR},
				CODE = #{code,jdbcType=VARCHAR},
				TYPE = #{type,jdbcType=INTEGER},
				LEAF_MARK = #{leafMark,jdbcType=INTEGER},
				SORT_NO = #{sortNo,jdbcType=INTEGER},
				TELEPHONE = #{telephone,jdbcType=VARCHAR},
				MOBILEPHONE = #{mobilephone,jdbcType=VARCHAR},
				EMAIL = #{email,jdbcType=VARCHAR},
				ADDRESS = #{address,jdbcType=VARCHAR},
				POST_CODE = #{postCode,jdbcType=VARCHAR},
				MANAGER_ID = #{managerId,jdbcType=INTEGER},
				MANAGER_NAME = #{managerName,jdbcType=VARCHAR},
				STATUS = #{status,jdbcType=INTEGER},
				REMARK = #{remark,jdbcType=VARCHAR}
				WHERE ID = #{id}
	</update>

	<update id="updatePartitive" parameterType="map" >
		UPDATE PUB_ORGANIZATION SET ${fields._updateSql} WHERE ID = #{id[0]}
	</update>
	  
	<update id="updateBatch" parameterType="map" >
		UPDATE PUB_ORGANIZATION SET  ${fields._updateSql}
		<if test="condition.expressions != null ">
			<where> ${condition.comboedExpressions} </where>
		</if>		
	</update>
		  
	<delete id="delete" parameterType="map" >
		DELETE FROM PUB_ORGANIZATION WHERE ID = #{id[0]}
	</delete>

	<delete id="deleteBatch" parameterType="map" >
		DELETE FROM PUB_ORGANIZATION 
		<if test="condition.expressions != null ">
			<where>${condition.comboedExpressions}</where>
		</if>		
	</delete>
	
	<select id="updateOrganizationRelation" statementType="CALLABLE" parameterType="map">  
		<![CDATA[  
		    {call p_update_org_name_or_code (
		    	#{orgId,mode=IN,jdbcType=INTEGER},
		    	#{orgCode,mode=IN,jdbcType=VARCHAR},
		    	#{orgName,mode=IN,jdbcType=VARCHAR}
		    )}  
		]]>  
	</select> 
</mapper>